<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Comic+Neue:ital@1&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./../src/index.css">
    <title>Sofia - Options </title>
</head>
<body>
    <div class="center">
        <p class="hello">Select an option!</p>
    </div>
    <div class="options-container">
        <div class="option-box">
            <img class="option_img" src="./../assets/cat_dude.png" alt="cat with a camera take a pic">
            <a class="option_button" href="./working.html">Sofia</a> 
        </div>
        <div class="option-box">
            <img class="option_img" src="./../assets/cat_take_pic.png" alt="cat with a camera take a pic">
            <a class="option_button" href="./pics.html">Pictures</a> 
        </div>
        <div class="option-box">
            <img class="option_img" src="./../assets/cat_note.png" alt="cat with a camera take a pic">
            <a class="option_button" href="./writings.html">Texts</a> 
        </div>
    </div>


</body>
</html>