<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Comic+Neue:ital@1&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./../src/index.css">
    <title>Sofia - Pics</title>
</head>
<body>
    <div class="container-view">
        <p class="title_view">Pics & Memories</p>
        <p class="about_title_view">
            Photos of my girlfriend and dating memories
        </p>
    </div>

    <div class="photo-grid">
        <!-- Reemplaza los src con las rutas a tus imágenes -->
        <img class="pic_sof" src="./../assets/sofia_pics/1.jpeg" alt="Photo 1">
        <img class="pic_sof" src="./../assets/sofia_pics/2.jpeg" alt="Photo 2">
        <img class="pic_sof" src="./../assets/sofia_pics/3.jpeg" alt="Photo 3">
        <img class="pic_sof" src="./../assets/sofia_pics/4.jpeg" alt="Photo 4">
        <img class="pic_sof" src="./../assets/sofia_pics/5.jpeg" alt="Photo 5">
        <img class="pic_sof" src="./../assets/sofia_pics/6.jpeg" alt="Photo 6">
        <img class="pic_sof" src="./../assets/sofia_pics/7.jpeg" alt="Photo 7">
        <img class="pic_sof" src="./../assets/sofia_pics/8.jpeg" alt="Photo 8">
        <img class="pic_sof" src="./../assets/sofia_pics/9.jpeg" alt="Photo 9">
        <img class="pic_sof" src="./../assets/sofia_pics/10.jpeg" alt="Photo 10">
        <img class="pic_sof" src="./../assets/sofia_pics/11.jpeg" alt="Photo 11">
        <img class="pic_sof" src="./../assets/sofia_pics/12.jpeg" alt="Photo 12">
        <img class="pic_sof" src="./../assets/sofia_pics/13.jpeg" alt="Photo 13">
        <img class="pic_sof" src="./../assets/sofia_pics/14.jpeg" alt="Photo 14">
        <img class="pic_sof" src="./../assets/sofia_pics/15.jpeg" alt="Photo 15">
        <img class="pic_sof" src="./../assets/sofia_pics/16.jpeg" alt="Photo 16">
        <img class="pic_sof" src="./../assets/sofia_pics/17.jpeg" alt="Photo 17">
        <img class="pic_sof" src="./../assets/sofia_pics/18.jpeg" alt="Photo 18">
        <img class="pic_sof" src="./../assets/sofia_pics/19.jpeg" alt="Photo 19">
        <img class="pic_sof" src="./../assets/sofia_pics/20.jpeg" alt="Photo 20">
        <img class="pic_sof" src="./../assets/sofia_pics/21.jpeg" alt="Photo 21">
        <img class="pic_sof" src="./../assets/sofia_pics/22.jpeg" alt="Photo 22">
        <img class="pic_sof" src="./../assets/sofia_pics/23.jpeg" alt="Photo 23">
        <img class="pic_sof" src="./../assets/sofia_pics/24.jpeg" alt="Photo 24">
        <img class="pic_sof" src="./../assets/sofia_pics/25.jpeg" alt="Photo 25">
        <img class="pic_sof" src="./../assets/sofia_pics/26.jpeg" alt="Photo 26">
        <img class="pic_sof" src="./../assets/sofia_pics/27.jpeg" alt="Photo 27">
        <img class="pic_sof" src="./../assets/sofia_pics/28.jpeg" alt="Photo 28">
        <img class="pic_sof" src="./../assets/sofia_pics/29.jpeg" alt="Photo 29">
        <img class="pic_sof" src="./../assets/sofia_pics/30.jpeg" alt="Photo 30">
        <img class="pic_sof" src="./../assets/sofia_pics/31.jpeg" alt="Photo 31">
        <img class="pic_sof" src="./../assets/sofia_pics/32.jpeg" alt="Photo 32">
        <img class="pic_sof" src="./../assets/sofia_pics/33.jpeg" alt="Photo 33">
        <img class="pic_sof" src="./../assets/sofia_pics/34.jpeg" alt="Photo 34">
        <img class="pic_sof" src="./../assets/sofia_pics/35.jpeg" alt="Photo 35">
        <img class="pic_sof" src="./../assets/sofia_pics/36.jpeg" alt="Photo 36">
        <img class="pic_sof" src="./../assets/sofia_pics/37.jpeg" alt="Photo 37">
        <img class="pic_sof" src="./../assets/sofia_pics/38.jpeg" alt="Photo 38">
        <!-- Agrega más imágenes según sea necesario -->
    </div>

    <footer>
        <p class="footer_t">Lovingly created by <span>Alex</span></p>
    </footer>
</body>
</html>