<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Comic+Neue:ital@1&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./../src/index.css">
    <title>Sofia</title>
</head>
<body>
    <div class="container-view">
        <p class="title_view">Working in this area</p>
        <img class="img_work" src="./../assets/cat_prog.png" alt="Cat programming">
    </div>
    <div class="box-what">
        <p class="text_what">
            I am working to make this section available as soon as possible sorry for the inconvenience.
        </p>
    </div>
    <a class="go" href="./options.html">Back</a>

    <footer>
        <p class="footer_t">Lovingly created by <span>Alex</span></p>
    </footer>
</body>
</html>