<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Comic+Neue:ital@1&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./../src/index.css">
    <title>Sofia - Texts </title>
</head>
<body>
    <div class="container-view">
        <p class="title_view">Texts for Sofia</p>
        <p class="about_title_view">
            These texts are intended for Sofia, to describe how wonderful she is and how much I love her.
        </p>
    </div>

    <div class="container_texts">
        <div class="text_box">
            <p class="t_text"> 
                Hoy, como cada día, me he perdido en la inmensidad de tu belleza y tu alegría.
                Eres el sueño que nunca quiero dejar, el regalo más precioso que la vida me ha dado. 
                Tu cabello, una cascada de hilos dorados, y tus ojos, dos luceros que iluminan mi camino,
                son las joyas que adornan cada rincón de mi vida.
            </p>
            <p class="date_text"> 27 - Jul - 2024 / 10:28 p.m</p>
        </div>
        <div class="text_box">
            <p class="t_text"> 
                Hoy pasé el día pensando en ti, Sofía. Recordé cómo me enamoré de ti 
                desde el primer momento en que te vi. Tu belleza me dejó sin aliento,
                pero fue tu alegría y tu espíritu lo que realmente conquistó mi corazón. 
                Tu pelo, siempre tan bonito, y tus mejillas adorables, siempre me hacen 
                sonreír.
            </p>
            <p class="date_text"> 29 - Jul - 2024 / 11:38 p.m</p>
        </div>
        <div class="text_box">
            <p class="t_text"> 
                Que tus sueños sean tan dulces y perfectos como tú. Y cuando cierres los ojos, 
                recuerda que eres mi más preciado tesoro, el amor de mi vida, y que cada noche
                lejos de ti es una eternidad.
            </p>
            <p class="date_text"> 30 - Jul - 2024 / 01:00 a.m</p>
        </div>   
        <div class="text_box">
            <p class="t_text"> 
                Mientras el mundo duerme, mi amor por ti despierta con una pasión renovada.
                Eres el pensamiento más dulce en mis noches, y el deseo más ferviente en mis sueños.
                Que esta noche te envuelva en un manto de serenidad y amor, mientras yo continúo amándote 
                con una devoción infinita.
            </p>
            <p class="date_text"> 01 - Ago - 2024 / 01:06 a.m</p>
        </div>   
        <div class="text_box">
            <p class="t_text"> 
                No hay palabras suficientes para expresar lo que siento por ti, pero quiero que sepas que eres 
                lo mejor que me ha pasado. 
            </p>
            <p class="date_text"> 01 - Ago - 2024 / 01:25 a.m</p>
        </div>   
        <div class="text_box">
            <p class="t_text"> 
                Tus palabras son la cancion que llena mi corazón de alegría y tus caricias el refugio donde encuentro paz. 
                No sé cómo explicar lo que siento, solo sé que no quiero dejar de sentirlo nunca.
            </p>
            <p class="date_text"> 01 - Ago - 2024 / 01:36 a.m</p>
        </div>  
        <div class="text_box">
            <p class="t_text"> 
                Eres la razón por la que me despierto con una sonrisa y me acuesto con la esperanza de verte en mis sueños.
            </p>
            <p class="date_text"> 01 - Ago - 2024 / 01:40 a.m</p>
        </div>  
        <div class="text_box">
            <p class="t_text"> 
                Tu risa, tus abrazos y cada momento que compartimos me llenan de alegría. Eres una persona única y estoy muy agradecido 
                por tenerte en mi vida.
            </p>
            <p class="date_text"> 01 - Ago - 2024 / 01:46 a.m</p>
        </div>  
        <div class="text_box">
            <p class="t_text"> 
                Te quiero demasiado lucecita de mi vida.
            </p>
            <p class="date_text"> 01 - Ago - 2024 / 01:49 a.m</p>
        </div>  
        <div class="text_box">
            <p class="t_text"> 
                No se en que momento me enamore tanto de ti, pero en una sesacion muy linda
                sin duda alguna puedo estar seguro de que te quiero.
            </p>
            <p class="date_text"> 01 - Ago - 2024 / 01:56 a.m</p>
        </div>  

        <div class="text_box">
            <p class="t_text"> 
                Sofia, quiero decirte que tienes toda la razón. Sí, en algún momento yo tuve novia y tú tuviste novio, capaz 
                en ese momento les dijimos cosas cursis que podemos decir, a lo mejor si, pero al menos para mi eso ya paso 
                ya sucedio, y no es relevante en mi, pero después de un tiempo, verte en la escuela, verte exponer, verte reir, 
                verte dormir, esa manera, de ser linda simplemente existiendo, era muy dificil no enamorarme de ti.
                Me di cuenta de algo que no esperaba: me enamoré de ti.
                Eres mi primera vez en tantas cosas… Has sido muchas de mis primeras veces, y eso te hace aún más especial. 
                Todo contigo es único, nuevo, inolvidable.
                Te quiero demasiado, más de lo que las palabras pueden expresar. Me gustas tanto que a veces 
                siento que no me alcanza el tiempo para admirarte como te mereces. Eres increíblemente linda, hermosa, bella…
                Solo quiero que sepas lo importante que eres para mí, Te amo sofi de mi vida. ❤️
            </p>
            <p class="date_text"> 18 - Dec - 2024 / 11:51 a.m</p>
        </div> 
        
    </div>

    

    <footer>
        <p class="footer_t">Lovingly created by <span>Alex</span></p>
    </footer>
</body>
</html>
 
<!--
        <div class="text_box">
            <p class="t_text"> 

            </p>
            <p class="date_text"> 01 - Ago - 2024 / 01:25 a.m</p>
        </div>  

-->
